body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2fafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.py-6 {
  padding-top: 10em;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  /* color: var(--bs-nav-link-color); */
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  isolation: isolate;
  /* border-color: var(--bs-nav-tabs-link-hover-border-color); */
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  /* color: var(--bs-nav-tabs-link-active-color); */
  /* background-color: var(--bs-nav-tabs-link-active-bg); */
  /* border-color: var(--bs-nav-tabs-link-active-border-color); */
  color: var(--bs-nav-link-color) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color) !important;
  /* background-color: var(--bs-nav-tabs-link-active-bg); */
  /* border-color: var(--bs-nav-tabs-link-active-border-color); */
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  isolation: isolate;
  /* border-color: var(--bs-nav-tabs-link-hover-border-color); */
}